*.bin
**/build/**
c5_pin_model_dump.txt
_config.yml
CPLD
CPLD/build/db/
CPLD/build/incremental_db/
CPLD/build/output_files/
CPLD/build/simulation/
CPLD/build/tranZPUterSW_constraints.sdc.clk
CPLD/mz80b/
CPLD/v1.0
CPLD/v1.0.bak/
CPLD/v1.0/build/greybox_tmp/
CPLD/v1.0/MZ2000
CPLD/v1.0/MZ2000/build
CPLD/v1.0/MZ2000/build/db/
CPLD/v1.0/MZ2000/build/greybox_tmp
CPLD/v1.0/MZ2000/build/greybox_tmp/
CPLD/v1.0/MZ2000/build/incremental_db
CPLD/v1.0/MZ2000/build/incremental_db/
CPLD/v1.0/MZ2000/build/output_files
CPLD/v1.0/MZ2000/build/output_files/
CPLD/v1.0/MZ2000/build/simulation
CPLD/v1.0/MZ2000/build/simulation/
CPLD/v1.0/MZ2000/build/tranZPUterSW_constraints.sdc.clk
CPLD/v1.0/MZ2000/build/tzpuSW700 MZ2000.qsf
CPLD/v1.0/MZ2000/rrrr
CPLD/v1.0/MZ2000/tranZPUterSW700.sav.bak
CPLD/v1.0/MZ2000/tranZPUterSW700_tidy.vhd
CPLD/v1.0/MZ2000/tranZPUterSW700.vhd.sav1
CPLD/v1.0/MZ2000/tranZPUterSW700.vhd.sav2
CPLD/v1.0/MZ2000/tranZPUterSW700.vhd.sav3
CPLD/v1.0/MZ2000/tranZPUterSW.sav2
CPLD/v1.0/MZ2000/tranZPUterSW.vhd.clk
CPLD/v1.0/MZ2000/tranZPUterSW.vhd.presweep
CPLD/v1.0/MZ700
CPLD/v1.0/MZ700/build
CPLD/v1.0/MZ700/build/db
CPLD/v1.0/MZ700/build/db/
CPLD/v1.0/MZ700/build/greybox_tmp
CPLD/v1.0/MZ700/build/greybox_tmp/
CPLD/v1.0/MZ700/build/incremental_db
CPLD/v1.0/MZ700/build/incremental_db/
CPLD/v1.0/MZ700/build/incremental_db/compiled_partitions
CPLD/v1.0/MZ700/build/output_files
CPLD/v1.0/MZ700/build/output_files/
CPLD/v1.0/MZ700/build/output_files/output_files
CPLD/v1.0/MZ700/build/simulation
CPLD/v1.0/MZ700/build/simulation/
CPLD/v1.0/MZ700/build/simulation/modelsim
CPLD/v1.0/MZ700/build/tranZPUterSW_constraints.sdc.clk
CPLD/v1.0/MZ700/rr
CPLD/v1.0/MZ700/rtsd
CPLD/v1.0/MZ700/tranZPUterSW.sav2
CPLD/v1.0/MZ700/tranZPUterSW.vhd.clk
CPLD/v1.0/MZ700/tranZPUterSW.vhd.presweep
CPLD/v1.0/MZ700/working
CPLD/v1.0/MZ700/working2
CPLD/v1.0/MZ80A
CPLD/v1.0/MZ80A/build
CPLD/v1.0/MZ80A/build/db/
CPLD/v1.0/MZ80A/build/emuMZ_ClockII.qip
CPLD/v1.0/MZ80A/build/greybox_tmp
CPLD/v1.0/MZ80A/build/greybox_tmp/
CPLD/v1.0/MZ80A/build/incremental_db
CPLD/v1.0/MZ80A/build/incremental_db/
CPLD/v1.0/MZ80A/build/output_files
CPLD/v1.0/MZ80A/build/output_files/
CPLD/v1.0/MZ80A/build/simulation
CPLD/v1.0/MZ80A/build/simulation/
CPLD/v1.0/MZ80A/build/tranZPUterSW_constraints.sdc.clk
cpu/sav
cpu/zpu_core_evo.vhd.06052012
datasheets
devices/sysbus/BRAM/TZSW_DualPort32-64BootBRAM.vhd
devices/sysbus/BRAM/TZSW_DualPort3264BootBRAM.vhd
devices/sysbus/TCPU/
.dm
*.dmp
docker/QuartusPrime/Dockerfile.13.0.1.old
docker/QuartusPrime/files/13.0/
docker/QuartusPrime/files/13.1/
docker/QuartusPrime/files/17.1/
docker/QuartusPrime/local/
docker/QuartusPrime/quartus_docker.sh
docker/QuartusPrime/Quartus-web-13.0.1.232-linux.tar
docs
*.done
*.elf
.gradle
*.jdi
*.log
*.lss
Manuals/
*.map
.metadata
/.nb-gradle/
nohup.out
*.o
**/old/**
*/*/old/
*/old/
old/
old/**
**/output/**
*.out.sdc
pcb/FusionX/v1.0/tzpuFusionX_v1_0-B_Adhesive.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0-B_Courtyard.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0-B_Cu.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0-B_Fab.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0-B_Mask.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0-B_Paste.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0-B_Silkscreen.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0-Edge_Cuts.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0-F_Adhesive.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0-F_Courtyard.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0-F_Cu.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0-F_Fab.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0-F_Mask.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0-F_Paste.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0-F_Silkscreen.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0-In1_Cu.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0-In2_Cu.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0_layout.png
pcb/FusionX/v1.0/tzpuFusionX_v1_0-Margin.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0-NPTH.drl
pcb/FusionX/v1.0/tzpuFusionX_v1_0-NPTH-drl_map.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0-PTH.drl
pcb/FusionX/v1.0/tzpuFusionX_v1_0-PTH-drl_map.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0_Schematics.pdf
pcb/FusionX/v1.0/tzpuFusionX_v1_0-User_Comments.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0-User_Drawings.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0-User_Eco1.gbr
pcb/FusionX/v1.0/tzpuFusionX_v1_0-User_Eco2.gbr
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000-B_Adhesive.gbr
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000-B_Courtyard.gbr
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000-B_Cu.gbr
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000-B_Fab.gbr
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000-B_Mask.gbr
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000-B_Paste.gbr
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000-B_Silkscreen.gbr
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000-Edge_Cuts.gbr
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000-F_Adhesive.gbr
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000-F_Courtyard.gbr
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000-F_Cu.gbr
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000-F_Fab.gbr
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000-F_Mask.gbr
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000-F_Paste.gbr
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000-F_Silkscreen.gbr
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000-job.gbrjob
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000-Margin.gbr
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000-NPTH.drl
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000-NPTH-drl_map.gbr
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000-PTH.drl
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000-PTH-drl_map.gbr
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000_V1_0_layout.png
pcb/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000_v1_0_Schematics.pdf
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700-B_Adhesive.gbr
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700-B_Courtyard.gbr
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700-B_Cu.gbr
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700-B_Fab.gbr
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700-B_Mask.gbr
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700-B_Paste.gbr
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700-B_Silkscreen.gbr
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700-Edge_Cuts.gbr
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700-F_Adhesive.gbr
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700-F_Courtyard.gbr
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700-F_Cu.gbr
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700-F_Fab.gbr
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700-F_Mask.gbr
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700-F_Paste.gbr
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700-F_Silkscreen.gbr
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700-job.gbrjob
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700-Margin.gbr
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700-NPTH.drl
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700-NPTH-drl_map.gbr
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700-PTH.drl
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700-PTH-drl_map.gbr
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700_v1_0_layout.png
pcb/VideoInterface/MZ700/v1.0/VideoInterface_MZ700_V1_0_Schematics.pdf
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A-B_Adhesive.gbr
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A-B_Courtyard.gbr
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A-B_Cu.gbr
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A-B_Fab.gbr
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A-B_Mask.gbr
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A-B_Paste.gbr
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A-B_Silkscreen.gbr
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A-Edge_Cuts.gbr
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A-F_Adhesive.gbr
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A-F_Courtyard.gbr
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A-F_Cu.gbr
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A-F_Fab.gbr
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A-F_Mask.gbr
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A-F_Paste.gbr
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A-F_Silkscreen.gbr
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A-job.gbrjob
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A-Margin.gbr
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A-NPTH.drl
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A-NPTH-drl_map.gbr
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A-PTH.drl
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A-PTH-drl_map.gbr
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A_V1_0_layout.png
pcb/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A_v1_0_Schematics.pdf
*.pin
*.pof
*.qdf
*.qws
*.rbf
/Releases
*.rpt
*.sav
schematics/FusionX/v1.0/09082020_1141.kicad_pcb
schematics/FusionX/v1.0/BGA_24Pin_6x8x1.00.kicad_mod
schematics/FusionX/v1.0/BGA_48Pin_6x8x0.75.kicad_mod
schematics/FusionX/v1.0/Custom/
schematics/FusionX/v1.0/Custom.kicad_sym
schematics/FusionX/v1.0/Custom.pretty/
schematics/FusionX/v1.0/Espressif.pretty/
schematics/FusionX/v1.0/MZ80FPGA.pretty/
schematics/FusionX/v1.0/ssd20x.kicad_sym
schematics/FusionX/v1.0/ssd20x.lib
schematics/FusionX/v1.0/ssd20x.PcbLib
schematics/FusionX/v1.0/ssd20x.SchLib
schematics/FusionX/v1.0/ssd20x-SchLib-cache.lib
schematics/FusionX/v1.0/tranZPUter-SW-700_v1_2-rescue.lib
schematics/FusionX/v1.0/tranZPUter-SW-700_v1_3-rescue.lib
schematics/FusionX/v1.0/tzpuFusion-cache_v1_0.lib
schematics/FusionX/v1.0/tzpuFusionX_CPLDFPGA_Programming_v1_0.kicad_sch
schematics/FusionX/v1.0/tzpuFusionX_CPU_Interface_v1_0.kicad_sch
schematics/FusionX/v1.0/tzpuFusionX_FPGA_CPU_Memory_v1_0.kicad_sch
schematics/FusionX/v1.0/tzpuFusionX_FPGA_CPU_v1_0.kicad_sch
schematics/FusionX/v1.0/tzpuFusionX_FPGA_Video_v1_0.kicad_sch
schematics/FusionX/v1.0/tzpuFusionX_k64fx512_v1_0.kicad_sch
schematics/FusionX/v1.0/tzpuFusionX_PowerSupply_v1_0.kicad_sch
schematics/FusionX/v1.0/tzpuFusionX_v1_0.dsn
schematics/FusionX/v1.0/tzpuFusionX_v1_0.kicad_pcb
schematics/FusionX/v1.0/tzpuFusionX_v1_0.kicad_prl
schematics/FusionX/v1.0/tzpuFusionX_v1_0.kicad_pro
schematics/FusionX/v1.0/tzpuFusionX_v1_0.kicad_sch
schematics/FusionX/v1.0/tzpuFusionX_v1_0.ses
schematics/previous
schematics/sep/
schematics/tranZPUter/
schematics/tranZPUter-SW/
schematics/VideoInterface/MZ2000/v1.0/09082020_1141.kicad_pcb
schematics/VideoInterface/MZ2000/v1.0/BGA_24Pin_6x8x1.00.kicad_mod
schematics/VideoInterface/MZ2000/v1.0/BGA_48Pin_6x8x0.75.kicad_mod
schematics/VideoInterface/MZ2000/v1.0/Custom/
schematics/VideoInterface/MZ2000/v1.0/Custom.kicad_sym
schematics/VideoInterface/MZ2000/v1.0/Custom.pretty/
schematics/VideoInterface/MZ2000/v1.0/Espressif.pretty/
schematics/VideoInterface/MZ2000/v1.0/MZ80FPGA.pretty/
schematics/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000.dsn
schematics/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000.kicad_pcb
schematics/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000.kicad_prl
schematics/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000.kicad_pro
schematics/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000.kicad_sch
schematics/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000.rules
schematics/VideoInterface/MZ2000/v1.0/VideoInterface_MZ2000.ses
schematics/VideoInterface/MZ700/v1.0/09082020_1141.kicad_pcb
schematics/VideoInterface/MZ700/v1.0/BGA_24Pin_6x8x1.00.kicad_mod
schematics/VideoInterface/MZ700/v1.0/BGA_48Pin_6x8x0.75.kicad_mod
schematics/VideoInterface/MZ700/v1.0/Custom/
schematics/VideoInterface/MZ700/v1.0/Custom.kicad_sym
schematics/VideoInterface/MZ700/v1.0/Custom.pretty/
schematics/VideoInterface/MZ700/v1.0/Espressif.pretty/
schematics/VideoInterface/MZ700/v1.0/MZ80FPGA.pretty/
schematics/VideoInterface/MZ700/v1.0/VideoInterface_MZ700.dsn
schematics/VideoInterface/MZ700/v1.0/VideoInterface_MZ700.kicad_pcb
schematics/VideoInterface/MZ700/v1.0/VideoInterface_MZ700.kicad_prl
schematics/VideoInterface/MZ700/v1.0/VideoInterface_MZ700.kicad_pro
schematics/VideoInterface/MZ700/v1.0/VideoInterface_MZ700.kicad_sch
schematics/VideoInterface/MZ700/v1.0/VideoInterface_MZ700.ses
schematics/VideoInterface/MZ80A/v1.0/09082020_1141.kicad_pcb
schematics/VideoInterface/MZ80A/v1.0/BGA_24Pin_6x8x1.00.kicad_mod
schematics/VideoInterface/MZ80A/v1.0/BGA_48Pin_6x8x0.75.kicad_mod
schematics/VideoInterface/MZ80A/v1.0/Custom/
schematics/VideoInterface/MZ80A/v1.0/Custom.kicad_sym
schematics/VideoInterface/MZ80A/v1.0/Custom.pretty/
schematics/VideoInterface/MZ80A/v1.0/Espressif.pretty/
schematics/VideoInterface/MZ80A/v1.0/MZ80FPGA.pretty/
schematics/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A.dsn
schematics/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A.kicad_pcb
schematics/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A.kicad_prl
schematics/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A.kicad_pro
schematics/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A.kicad_sch
schematics/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A.pro
schematics/VideoInterface/MZ80A/v1.0/VideoInterface_MZ80A.ses
SD
SD/
SD/K64F
SD/K64F/BAS
SD/K64F/CAS
SD/K64F/CPM
SD/K64F/MZF
SD/K64F/TZFS
*.sld
*.smsg
*.sof
software/apps/*/*_obj/
software/asm
software/asm/
software/asm/cbios.asm.bak
software/asm/.cbiosII.asm.swo
software/asm/CPM22-BIOS.asm
software/asm/cpm22.mzf
software/asm/dz80.ini
software/asm/include/Definitions.asm.swo
software/asm/MZ80AFI.asm.bak
software/asm/new/
software/asm/old/
software/asm/rfs_bank2.prewriteread
software/asm/sav/
software/asm/savit
software.bak/
software/BAS
software/Basic
software/build/
software/build.sh
software/CAS
software/config
software/config/
software/CPM/**
software/dis
software/dis/
software/disks
software/DSK
software/dz80.ini
software/exploringBB
software/exploringBB/
software/full.asm
software/FusionX
software/FusionX/bin
software/FusionX/src
software/FusionX/src/cmake-kernel-module
software/FusionX/src/cmake-kernel-module/
software/FusionX/src/driver
software/FusionX/src/driver/build
software/FusionX/src/driver/build/
software/FusionX/src/driver/Kbuild.in
software/FusionX/src/driver/Makefile1
software/FusionX/src/driver/Makefile3
software/FusionX/src/driver/MZ2000/old/
software/FusionX/src/driver/MZ700/old/
software/FusionX/src/driver/mz700.rom
software/FusionX/src/driver/MZ80A/
software/FusionX/src/driver/MZ80A/old/
software/FusionX/src/driver/test
software/FusionX/src/driver/.tmp_versions
software/FusionX/src/driver/x.mzf
software/FusionX/src/driver/Z80
software/FusionX/src/driver/Z80/
software/FusionX/src/driver/Z80.c.old
software/FusionX/src/driver/z80ctrl
software/FusionX/src/driver/Z80.rc.in
software/FusionX/src/hello
software/FusionX/src/spitools
software/FusionX/src/spitools/hold
software/FusionX/src/spitools/hold/
software/FusionX/src/spitools/Makefile.drv
software/FusionX/src/spitools/mspi_main_0.08
software/FusionX/src/spitools/spi
software/FusionX/src/spitools/spi_0.08
software/hdr
software/hdr/
software/howto
software/iocp/iocp_obj/
software/Linux_Driver_Tutorial
software/linux-kernel-module
software/linux-kernel-module/
software/mif
software/mif/
software/mif/monitor_SA1510.mif.bak
software/mif/monitor_SA1510.mif.tst
software/MZ800_IOCS.ref
software/MZB
software/MZF
software/NASCAS
software/old/
software/READ.ME
software/rfs_bank2.asm.1703.2200
software/roms
software/roms/
software/roms/**
software/rt-tests
software/rt-tests/
software/src
software/src/
software/src/FatFS
software/src/sav
software/src/sdtest.c
software/src/tools/.flashmmcfg.c.swo
software/src/tools/x
software/tmp
software/tmp/
software/tools
software/tools/
software/WebServer
software/WebServer/conf
software/WebServer/old
software/WebServer/old/embed_certificate
software/WebServer/webfs
software/WebServer/webfs/
software/WebServer/webfs/css
software/WebServer/webfs/font-awesome
software/WebServer/webfs/font-awesome/css
software/WebServer/webfs/font-awesome/fonts
software/WebServer/webfs/images
software/WebServer/webfs/js
software/WebServer/webserver
software/WebServer/WebServer
software/WebServer/WebServer.cpp.sk
software/WebServer/webserver/css
software/WebServer/webserver/font-awesome
software/WebServer/webserver/font-awesome/css
software/WebServer/webserver/font-awesome/fonts
software/WebServer/WebServer.h.sk
software/WebServer/webserver/images
software/WebServer/webserver/js
software/x/
software/Z80emu
software/zputa/zpu_obj/
*.srec
*.srf
*.summary
*.swo
*.swp
tools
tools/assemble_rfs.sh
tools/Mars4_5.jar
tools/Master0.z80
tools/Master1.z80
.gitignore.old
software/holdlinux/
software/linux/boot.config
software/linux/buildroot.config
software/linux/images/
software/linux/kernel.config
software/linux/project/bootargs.old
software/linux/project/image/rootfs/
software/linux/project/image/rootfs_add_files/
software/linux/project/image/systemtap/
software/linux/sdk/

